@import 'compass/css3';
@import 'variables';

body {
  font-family: $sans-serif;
  font-size: 16px;
}

* {
  @include box-sizing(border-box);
  @include transition-property(all);
  @include transition-duration(0.5s);
}

.wrapper {
  position: relative;
  width: 98.85vw;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

h2 {
  font-family: $serif;
  color: $darkercolor;
  font-size: 38px;
  line-height: 52px;
  margin: 0 0 30px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width: 360px) {
  .wrapper {
    width: 100vw;
  }
}
