/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../sass/partials/_layout.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

/* line 9, ../../sass/partials/_layout.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 15, ../../sass/partials/_layout.scss */
.wrapper {
  position: relative;
  width: 98.85vw;
  height: 100vh;
}

/* line 21, ../../sass/partials/_layout.scss */
.container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

/* line 27, ../../sass/partials/_layout.scss */
h2 {
  font-family: "Alegreya", serif;
  color: #333745;
  font-size: 38px;
  line-height: 1.5em;
  margin: 0 0 30px;
}

/* line 35, ../../sass/partials/_layout.scss */
.mobile-menu {
  display: none;
}

/* line 4, ../../sass/partials/_home.scss */
.homescreen {
  background-color: #333745;
  position: fixed;
  z-index: 1;
  top: 0;
}
/* line 10, ../../sass/partials/_home.scss */
.homescreen > .container {
  height: 100%;
}
/* line 13, ../../sass/partials/_home.scss */
.homescreen > .container > .photo {
  position: relative;
  height: 100%;
  width: 525px;
  float: left;
}
/* line 19, ../../sass/partials/_home.scss */
.homescreen > .container > .photo > img {
  max-width: 100%;
  position: absolute;
  bottom: 0;
}
/* line 26, ../../sass/partials/_home.scss */
.homescreen > .container > .home-content {
  margin: auto;
  position: absolute;
  left: 490px;
  bottom: 170px;
}
/* line 32, ../../sass/partials/_home.scss */
.homescreen > .container > .home-content > p {
  color: #daede2;
  font-size: 22px;
  margin: 0 0 30px;
}
/* line 37, ../../sass/partials/_home.scss */
.homescreen > .container > .home-content > p.self-desc {
  font-size: 38px;
  font-family: "Alegreya", serif;
  line-height: 1.4em;
}
/* line 44, ../../sass/partials/_home.scss */
.homescreen > .container > .home-content > h1.intro {
  color: #f6f792;
  font-size: 24px;
  font-weight: 500;
  font-family: "Alegreya", serif;
  line-height: 1.4em;
  margin: 0 0 30px;
}
/* line 53, ../../sass/partials/_home.scss */
.homescreen > .container > .home-content a {
  color: #daede2;
  text-decoration: none;
  position: relative;
}
/* line 58, ../../sass/partials/_home.scss */
.homescreen > .container > .home-content a > span {
  position: relative;
  z-index: 1;
}
/* line 62, ../../sass/partials/_home.scss */
.homescreen > .container > .home-content a::after {
  content: '';
  position: absolute;
  background: #ea2e49;
  left: 0;
  right: 0;
  height: 10px;
  bottom: -2px;
  z-index: 0;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 76, ../../sass/partials/_home.scss */
.homescreen > .container > .home-content a:hover::after {
  height: 21px;
}
/* line 82, ../../sass/partials/_home.scss */
.homescreen > .container > .home-content .logo {
  -moz-transform: rotate(-19deg);
  -ms-transform: rotate(-19deg);
  -webkit-transform: rotate(-19deg);
  transform: rotate(-19deg);
  display: block;
  margin-top: 30px;
}

/* line 4, ../../sass/partials/_portfolio.scss */
.portfolio {
  background: white;
  z-index: 2;
  margin-top: 100vh;
  height: auto;
  min-height: 100vh;
}
/* line 11, ../../sass/partials/_portfolio.scss */
.portfolio > .navigation {
  margin: 0 30px 0 0;
  position: absolute;
  height: 95vh;
  left: 30px;
  top: 30px;
}
/* line 18, ../../sass/partials/_portfolio.scss */
.portfolio > .navigation.fixed {
  position: fixed;
}
/* line 22, ../../sass/partials/_portfolio.scss */
.portfolio > .navigation > .logo {
  margin: 0 0 30px;
  position: relative;
}
/* line 27, ../../sass/partials/_portfolio.scss */
.portfolio > .navigation:after {
  content: '';
  background: #daede2;
  width: 1px;
  left: 39.5px;
  top: 64px;
  bottom: 0;
  position: absolute;
  z-index: 0;
}
/* line 38, ../../sass/partials/_portfolio.scss */
.portfolio > .navigation .menu {
  position: relative;
  z-index: 1;
  background: #fff;
  margin: 10vh 0 0 28px;
  padding: 7.5px 0;
}
/* line 45, ../../sass/partials/_portfolio.scss */
.portfolio > .navigation .menu > li {
  padding: 7.5px;
}
/* line 48, ../../sass/partials/_portfolio.scss */
.portfolio > .navigation .menu > li > a {
  text-decoration: none;
  color: #333745;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 54, ../../sass/partials/_portfolio.scss */
.portfolio > .navigation .menu > li:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #daede2;
  display: inline-block;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin: 2px 10px 2px 0;
}
/* line 65, ../../sass/partials/_portfolio.scss */
.portfolio > .navigation .menu > li.active > a {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  color: #ea2e49;
}
/* line 69, ../../sass/partials/_portfolio.scss */
.portfolio > .navigation .menu > li.active:before {
  background: #ea2e49;
}
/* line 75, ../../sass/partials/_portfolio.scss */
.portfolio > .navigation .menu > li:hover > a {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 78, ../../sass/partials/_portfolio.scss */
.portfolio > .navigation .menu > li:hover:before {
  background: #333745;
}
/* line 85, ../../sass/partials/_portfolio.scss */
.portfolio > .navigation .social-links {
  display: block;
  width: 60px;
  background: #fff;
  position: absolute;
  z-index: 1;
  left: 10px;
  bottom: 0;
  padding: 7.5px 0;
}
/* line 95, ../../sass/partials/_portfolio.scss */
.portfolio > .navigation .social-links a {
  color: #77c4d3;
  font-size: 18px;
  padding: 15px;
  width: 100%;
  display: inline-block;
  text-align: center;
}
/* line 103, ../../sass/partials/_portfolio.scss */
.portfolio > .navigation .social-links a:hover {
  color: #ea2e49;
}
/* line 110, ../../sass/partials/_portfolio.scss */
.portfolio > .content {
  margin-left: 210px;
}
/* line 113, ../../sass/partials/_portfolio.scss */
.portfolio > .content > div {
  padding: 30px;
}
/* line 116, ../../sass/partials/_portfolio.scss */
.portfolio > .content > div h2 {
  margin: 64px 0 30px;
  display: inline-block;
}
/* line 125, ../../sass/partials/_portfolio.scss */
.portfolio > .content #shots a {
  display: inline-block;
  width: 33.33%;
}
/* line 130, ../../sass/partials/_portfolio.scss */
.portfolio > .content #shots a > img {
  width: 100%;
  margin-bottom: -2px;
}
/* line 137, ../../sass/partials/_portfolio.scss */
.portfolio > .content #shots:hover > a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 141, ../../sass/partials/_portfolio.scss */
.portfolio > .content #shots:hover > a.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -moz-box-shadow: rgba(51, 55, 69, 0.3) 0px 5px 20px;
  -webkit-box-shadow: rgba(51, 55, 69, 0.3) 0px 5px 20px;
  box-shadow: rgba(51, 55, 69, 0.3) 0px 5px 20px;
  z-index: 10;
}

/* Smartphones ----------- */
@media only screen and (max-device-width: 768px) {
  /* line 6, ../../sass/partials/_responsive.scss */
  body {
    font-size: 4vw;
  }

  /* line 10, ../../sass/partials/_responsive.scss */
  .homescreen {
    position: relative;
  }
  /* line 14, ../../sass/partials/_responsive.scss */
  .homescreen > .container > .photo {
    float: none;
    height: auto;
    width: 100%;
  }
  /* line 19, ../../sass/partials/_responsive.scss */
  .homescreen > .container > .photo > img {
    position: relative;
  }
  /* line 23, ../../sass/partials/_responsive.scss */
  .homescreen > .container > .home-content {
    position: relative;
    left: auto;
    margin-top: -20vh;
    bottom: auto;
    padding: 5vw;
  }
  /* line 30, ../../sass/partials/_responsive.scss */
  .homescreen > .container > .home-content > p {
    font-size: 5vw;
    margin: 0 0 5vh;
  }
  /* line 34, ../../sass/partials/_responsive.scss */
  .homescreen > .container > .home-content > p.self-desc {
    font-size: 8vw;
  }
  /* line 39, ../../sass/partials/_responsive.scss */
  .homescreen > .container > .home-content > h1.intro {
    font-size: 5.5vw;
    margin: 0 0 5vh;
  }
  /* line 44, ../../sass/partials/_responsive.scss */
  .homescreen > .container > .home-content a {
    font-size: 4vw;
  }
  /* line 48, ../../sass/partials/_responsive.scss */
  .homescreen > .container > .home-content .logo {
    margin: 5vh 0;
    width: 25vw;
  }

  /* line 55, ../../sass/partials/_responsive.scss */
  .wrapper {
    width: 100vw;
    height: auto;
  }

  /* line 59, ../../sass/partials/_responsive.scss */
  .portfolio {
    margin-top: 0;
  }
  /* line 62, ../../sass/partials/_responsive.scss */
  .portfolio > .navigation {
    display: none;
  }
  /* line 65, ../../sass/partials/_responsive.scss */
  .portfolio > .content {
    margin-left: 0;
  }
  /* line 68, ../../sass/partials/_responsive.scss */
  .portfolio > .content > div {
    padding: 0;
  }
  /* line 71, ../../sass/partials/_responsive.scss */
  .portfolio > .content > div h2 {
    font-size: 6vw;
    margin: 5vh 5vw 2vh;
  }
  /* line 78, ../../sass/partials/_responsive.scss */
  .portfolio > .content #shots > a {
    width: 100%;
  }

  /* line 85, ../../sass/partials/_responsive.scss */
  .mobile-menu {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
  }
  /* line 92, ../../sass/partials/_responsive.scss */
  .mobile-menu a {
    color: #daede2;
    padding: 5vw;
    display: inline-block;
    float: right;
  }
  /* line 98, ../../sass/partials/_responsive.scss */
  .mobile-menu a > .fa-times {
    display: none;
  }
  /* line 101, ../../sass/partials/_responsive.scss */
  .mobile-menu a > .fa-bars {
    display: inline-block;
  }
  /* line 106, ../../sass/partials/_responsive.scss */
  .mobile-menu .menu-content {
    display: none;
  }
  /* line 110, ../../sass/partials/_responsive.scss */
  .mobile-menu.active {
    background: #333745;
    width: 13vw;
  }
  /* line 115, ../../sass/partials/_responsive.scss */
  .mobile-menu.active a > .fa-times {
    display: inline-block;
  }
  /* line 118, ../../sass/partials/_responsive.scss */
  .mobile-menu.active a > .fa-bars {
    display: none;
  }
  /* line 123, ../../sass/partials/_responsive.scss */
  .mobile-menu.active .menu-content {
    display: inline-block;
    width: 100%;
  }
  /* line 127, ../../sass/partials/_responsive.scss */
  .mobile-menu.active .menu-content > a {
    width: 100%;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* line 140, ../../sass/partials/_responsive.scss */
  .homescreen > .container > .photo > img {
    bottom: -50px;
  }
  /* line 145, ../../sass/partials/_responsive.scss */
  .homescreen > .container > .home-content {
    bottom: 120px;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1400px) {
  /* line 157, ../../sass/partials/_responsive.scss */
  .homescreen > .container > .photo > img {
    bottom: 0;
  }
  /* line 162, ../../sass/partials/_responsive.scss */
  .homescreen > .container > .home-content {
    bottom: 170px;
  }
}
