@import 'compass/css3';
@import 'variables';

.homescreen {
  background-color: $darkercolor;
  position: fixed;
  z-index: 1;
  top: 0;

  & > .container {
    height: 100%;

    & > .photo {
      position: relative;
      height: 100%;
      width: 525px;
      float: left;

      & > img {
        max-width: 100%;
        position: absolute;
        bottom: 0;
      }
    }

    & > .home-content {
      margin: auto;
      position: absolute;
      left: 490px;
      bottom: 170px;

      & > p {
        color: $lightercolor;
        font-size: 22px;
        margin: 0 0 30px;

        &.self-desc {
          font-size: 38px;
          font-family: $serif;
          line-height: 1.4em;
        }
      }

      & > h1.intro {
        color: $highlightcolor;
        font-size: 24px;
        font-weight: 500;
        font-family: $serif;
        line-height: 1.4em;
        margin: 0 0 30px;
      }

      & a {
        color: $lightercolor;
        text-decoration: none;
        position: relative;

        & > span {
          position: relative;
          z-index: 1;
        }
        &::after {
          content: '';
          position: absolute;
          background: $brandcolor;
          left: 0;
          right: 0;
          height: 10px;
          bottom: -2px;
          z-index: 0;
          @include transition-property(height);
          @include transition-duration(0.2s);
        }

        &:hover {
          &::after {
            height: 21px;
          }
        }
      }

      & .logo {
        @include transform(rotate(-19deg));
        display: block;
        margin-top: 30px;
      }
    }
  }
}
