@import 'compass/css3';
@import 'variables';

/* Smartphones ----------- */
@media only screen and (max-device-width: 768px) {
  body {
    font-size: 4vw;
  }

  .homescreen {
    position: relative;

    & > .container {
      & > .photo {
        float: none;
        height: auto;
        width: 100%;

        & > img {
          position: relative;
        }
      }
      & > .home-content {
        position: relative;
        left: auto;
        margin-top: -20vh;
        bottom: auto;
        padding: 5vw;

        & > p {
          font-size: 5vw;
          margin: 0 0 5vh;

          &.self-desc {
            font-size: 8vw;
          }
        }

        & > h1.intro {
          font-size: 5.5vw;
          margin: 0 0 5vh;
        }

        & a {
          font-size: 4vw;
        }

        & .logo {
          margin: 5vh 0;
          width: 25vw;
        }
      }
    }
  }
  .wrapper {
    width: 100vw;
    height: auto;
    margin-bottom: 7.99vh;
  }
  .portfolio {
    margin-top: 0;
    min-height: auto;

    & > .navigation {
      display: none;
    }
    & > .content {
      margin-left: 0;

      & > div {
        padding: 0;

        & h2 {
          font-size: 8vw;
          margin: 5vh 5vw 2vh;
          font-weight: bold;
        }
      }

      & #shots {
        & > a {
          width: 100%;
        }

        &:hover > a {
          @include opacity(1);
          @include filter(grayscale(0));
        }
      }
    }
  }

  .article {
    & > img {
      width: 100vw;
      float: none;
      margin: 0;
    }
    & > p {
      padding: 5vw;
      margin: 0;
    }
  }

  .mobile-menu {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

    & a {
      color: $lightercolor;
      padding: 5vw;
      display: inline-block;
      float: right;

      & > .fa-times {
        display: none;
      }
      & > .fa-bars {
        display: inline-block;
      }
    }

    & .menu-content {
      display: none;
    }

    &.active {
      background: $darkercolor;
      width: 13vw;

      & a {
        & > .fa-times {
          display: inline-block;
        }
        & > .fa-bars {
          display: none;
        }
      }

      & .menu-content {
        display: inline-block;
        width: 100%;

        & > a {
          width: 100%;
        }
      }
    }
  }

  .mobile-footer {
    position: fixed;
    display: inline-block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 8vh;
    z-index: 9;
    overflow: auto;
    white-space: nowrap;
    background: #ffffff;

    & button.tablinks {
      color: $darkercolor;
      text-decoration: none;
      padding: 2.3vh 5vw;
      font-size: 4vw;
      background: #ffffff;
      outline: none;
      border: 0;
      border-top: 2px solid #ffffff;

      &.active {
        border-top: 2px solid $brandcolor;
        color: $brandcolor;
      }
    }
  }

  .portfolio > .content > div.tabcontent {
    display: none;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .homescreen {
    & > .container {
      & > .photo {
        & > img {
          bottom: -50px;
        }
      }

      & > .home-content {
        bottom: 120px;
      }
    }
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1400px) {
  .homescreen {
    & > .container {
      & > .photo {
        & > img {
          bottom: 0;
        }
      }

      & > .home-content {
        bottom: 170px;
      }
    }
  }
}
