html, body{
    font-family: 'Mont';
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}
#wrapper{

}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.section{
    min-height: 650px;
    padding: 50px;
}

.hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero > img{
    align-self: center;
}
.hero > span{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.logo-revealing{
    background: #F5F6F8;
}
.logo-revealing .section{
    /* display: flex;
    align-items: center; */
    text-align: center;
}

.logo-revealing .section > img{
/* max-width: 70%;
margin-right: 30px; */
width: 100%;
}
.logo-revealing .section > div{
    max-width: 650px;
    margin: 0 auto;
    text-align: left;
}

h1{
    font-weight: bold;
font-size: 44px;
line-height: 50px;
color: #E74525;
margin: 0 0 25px;
}
h2{
font-size: 18px;
line-height: 22px;
color: #0D0A1A;
font-weight: normal;
}
p{
color: #23307E;
letter-spacing: 0;
line-height: 22px;
}

.section.color-pallete{
    min-height: auto;
    padding-bottom: 0;
}
.section.color-pallete > div{
    display: inline-block;
}

.pallete{
    width: 179px;
    margin-right: 30px;
    margin-bottom: 50px;
    border-width: 1px;
    border-style: solid;
    display: inline-block;

    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
}

.pallete > span{
    display: inline-block;
    width: 100%;
    height: 185px;
    background: #E74525;
    float: left;
}

.pallete > p{
    margin: 0;
    padding: 10px;
    display: inline-block;
    color: #0D0A1A;
}

.pallete.red{
    border-color: #E74525;
}
.pallete.red > span{
    background: #E74525;
}

.pallete.blue{
    border-color: #23307E;
}
.pallete.blue > span{
    background: #23307E;
}

.pallete.grey{
    border-color: #F5F6F8;
}
.pallete.grey > span{
    background: #F5F6F8;
}

.pallete.purple{
    border-color: #7857A9;
}
.pallete.purple > span{
    background: #7857A9;
}

.pallete.black{
    border-color: #0D0A1A;
}
.pallete.black > span{
    background: #0D0A1A;
}


.section.logotype{
    display: flex;
}
.section.logotype > .tlh{
    border: 1px solid #E74525;
    justify-content: center;
    display: flex;
    flex:1;
}
.spacer{
    width: 30px;
}
.section.logotype > .tlh.invert{
    background: #E74525;   
}

.section.logotype > .tlh > img{
    max-width: 80%;
}